:root {
    --primary-color: #A0522D; /* Sépia, tom terroso para elegância */
    --secondary-color: #D2B48C; /* Tan, mais claro */
    --accent-color: #8B0000; /* Vermelho escuro para destaque */
    --text-color: #333;
    --light-bg: #F8F8F8;
    --dark-bg: #2C3E50; /* Azul escuro quase preto */
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Lato', sans-serif;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark-bg);
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.back-button {
    display: inline-block;
    background-color: var(--dark-bg);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0;
}

.back-button:hover {
    background-color: #020052;
}

h1 {
    font-size: 2.5rem;
    margin: 30px;
    flex-grow: 1; 
    text-align: left;
}

main {
    max-width: 800px;
    margin: 0rem auto;
    padding: 0 1rem;
}

.intro {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-style: bold;
}

.ingredients {
    text-align: left;
}

.recipe-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

h2 {
    color: #8b0000;
    font-size: 1.8rem;
    border-bottom: 2px solid #8b0000;
    padding-bottom: 0.5rem;
    margin-top: 0;
}

ul, ol {
    margin: 0;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.8rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    color: #ffffff;
    background-color: #999999;
    font-size: 0.9rem;
}